<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Carga de personal de Banco Santander</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>

<section class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
				<h2>Carga de personal de Banco Santander</h2><br>
                <h4>Selecciona archivo excel</h4>
                <p th:text="${message}" th:if="${message ne null}" class="alert alert-success"></p>
                <p th:text="${error}" th:if="${error ne null}" class="alert alert-danger"></p>
                <form method="post" th:action="@{/personal/ReadCSV}" enctype="multipart/form-data">
                    <div class="form-group">
                        <input type="file" name="file" class="form-control-file">
                    </div>
                    <button type="submit" class="btn btn-primary">Cargar archivo</button>
                </form>
            </div>
        </div>
    </div>
</section>

</body>
</html>